html {
    line-height: normal;
}

.content {
    padding: 48px 0 96px 0;
}

.title {
    margin: 0;
    margin-bottom: 24px;
}

/* UP-BLOCK */

.up-block {
    display: flex;
    justify-content: space-between;
}

/* AREA-INFO */

.card {
    width: 417px;
    height: 310px;
    padding: 24px 0;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #E4E4E4;
}

.card-avatar-wrapper {
    width: 104px;
    height: 104px;
    margin: 0 auto;
    position: relative;
}

.card-change-avatar {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: -50%;
    cursor: pointer;
    transform: translate(-100%, -50%);
}

.card-title {
    font-size: 28px;
    line-height: 110%;
    margin: 0;
    margin-top: 10px;
    text-align: center;
    color: #000000
}

.card-subtitle {
    font-size: 18px;
    line-height: 120%;
    margin: 0;
    margin-top: 6px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.card-connection {
    width: 270px;
    height: 75px;
    margin: 0 auto;
    margin-top: 16px;
}

.card-connection-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
    height: 21px;
}

.card-connection-block:nth-child(1) {
    margin-top: 0;
    padding-right: 27px;
}

.card-connection-block:nth-child(3) {
    padding-right: 23px;
}

.card-connection-title {
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.4);
}

.card-connection-value {
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #000000;
}

.manager {
    display: flex;
    align-items: center;
    margin-top: 16px;
    width: 417px;
    height: 99px;
    padding: 13.5px 32px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #E4E4E4;
}

.manager-info {
    margin-left: 24px;
    width: 130px;
    height: 47px;
}

.manager-info-name {
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    white-space: nowrap;
}

.manager-info-post {
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #F0BA30;
}

.manager-reverse {
    margin-left: 20px;
    cursor: pointer;;
}

.manager-telegram {
    margin-left: 12px;
    margin-top: -2.5px;
}

.button-complaint {
    margin-top: 16px;
    width: 416px;
    height: 56px;
    padding: 16px 32px;
    opacity: 0.3;
    border: 2px solid #181818;
    border-radius: 15px;
    cursor: pointer;
    /* Текст кнопки */
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #181818;
}

/* AREA-DATE */

.area-date {
    display: flex;
    justify-content: space-between;
    width: 856px;
    height: 497px;
    background-color: #fff;
    border: 2px solid #E4E4E4;
    border-radius: 20px;
    padding: 10px 10px 10px 32px;
}

.up-tab-block {
    margin-top: 23px;
    padding: 5.5px 4.5px;
    width: 204px;
    height: 42px;
    background: rgba(0, 0, 0, 0.07);
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
}

.up-button-tab {
    border-radius: 100px;
    border: none;
    background: none;
    height: 31px;
    cursor: pointer;
    /* Текст кнопки */
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: rgba(18, 18, 18, 0.8);
    opacity: 0.8;
    text-align: center;
}

.up-button-tab_active {
    background: #F0BA30;
    font-weight: 400;
    color: #121212
}

.up-button-tab-1 {
    width: 107px;
}

.up-button-tab-2 {
    width: 83px;
}

.title-date {
    margin: 0;
    margin-top: 45px;
    color: #000000;
    text-transform: uppercase;
}

.area-date-description {
    margin-top: 40px;
    width: 277px;
    height: 72px;
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: rgba(18, 18, 18, 0.8);
}

.area-date-topical {
    margin-top: 115px;
    width: 244px;
    height: 46px;
    background: #FFFFFF;
    border: 2px solid #F0BA30;
    border-radius: 40px;
    /* Текст кнопки */
    text-align: center;
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #121212;
}

.tab-diagram {
    display: none;
}

.tab-diagram_active {
    display: block;
}

/* DOWN-BLOCK */

.down-block {
    margin-top: 24px;
    width: 100%;
    padding: 42px 32px;
    background-color: #fff;
    border: 1px solid #E4E4E4;
    border-radius: 20px;
}

.down-tab-block {
    display: flex;
    gap: 20px;
}

.down-button-tab {
    height: 46px;
    padding: 10px 20px;
    border: none;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 100px;
    cursor: pointer;
    /* Текст кнопки */
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #777777;
}

.down-button-tab_active {
    background: #F0BA30;
    color: #121212;
}

.info-block {
    display: none;
}

.info-block_active {
    display: block;
}

.loyalty, .shipment {
    margin-top: 40px;
}

.dealer {
    margin-top: 64px;
}

.finance {
    margin-top: 48px;
}

.info-title {
    margin: 0;
    color: #121212;
}

.gray-text {
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    color: #777777;
}

.info-description {
    margin: 0;
    margin-top: 24px;
    width: 808px;
}

.info-list {
    padding-left: 0;
    margin: 0;
    margin-top: 24px;
}
.info-list-item {
    list-style-type: none;
    position: relative;
    margin-left: 24px;
}

.info-list-item:before {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    left: -24px;
    color: #F0BA30;
    content: url('../images/personal-area/down-block/point.svg');
}

.dealer-wrapper {
    display: flex;
    gap: 125px
}

.dealer .info-description {
    width: 554px;
    margin-bottom: 14px;
}

.download-block {
    width: 143px;
}

.download-link {
    display: block;
    height: 143px;
}

.download-name {
    margin-top: 16px;
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #121212;
}

.finance-search {
    margin-top: 64px;
    width: 196px;
    height: 39px;
    background: #FFFFFF;
    border: 1px solid #F7F7F7;
    border-radius: 6px;
    outline: none;
    background-image: url('../images/personal-area/down-block/search.svg');
    background-repeat: no-repeat;
    background-position: 16px center;
    padding: 13px 0 13px 43px;
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #777777;
}

.table-block {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

table{
    border-spacing: 0px;
    height: 380px;
    border-radius: 6px;
}

thead {
    border-radius: 6px;
}

th {
    background: rgba(119, 119, 119, 0.7);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #E4E4E4;
    height: 42px;
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 110%;
    text-align: left;
    padding-left: 12px;
    color: #FFFFFF;
}

th:nth-child(1) {
    width: 33px;
    border-radius: 6px 0 0 0;
}

th:nth-child(2) {
    width: 223px;
}

th:nth-child(3) {
    width: 270px;
}

th:nth-child(4) {
    width: 56px;
    padding-left: 9px;
}

th:nth-child(5) {
    width: 36px;;
}

th:nth-child(6) {
    width: 88px;
}

th:nth-child(7) {
    width: 74px;
}

th:nth-child(8) {
    width: 57px;
}

th:nth-child(9) {
    width: 89px;
}

th:nth-child(10) {
    width: 86px;
    border-radius: 0 6px 0 0;
    border-width: 1px 1px 0px 1px;
}

td {
    height: 38px;
    background: #FFFFFF;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #E4E4E4;
    border-radius: 0px;
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 110%;
    color: rgba(18, 18, 18, 0.8);
    text-align: left;
    padding-left: 12px;
}

tr:last-child td {
    border-width: 1px 0px 1px 1px;
}

tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}

tr:last-child td:nth-child(2) {
    text-transform: uppercase;
    font-weight: 700;
}

tr:last-child td:nth-child(4),
tr:last-child td:nth-child(6),
tr:last-child td:nth-child(8),
tr:last-child td:nth-child(9) {
    font-weight: 700;
}

td:nth-child(4) {
    text-align: center;
    padding-left: 0;
}

td:last-child {
    background: rgba(119, 119, 119, 0.7);
    border-width: 1px 1px 0px 1px;
}



